.window-wrapper{
  z-index: 3;
  min-width: 300px;
  max-width: 95vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.window-close-btn {
  background: var(--accent);
  width: 30px !important;
  height: 30px !important;
  padding: 0;
  line-height: 25px;
  position: absolute;
  right: 1em;
  top: 1em;
}